
 .frist_h1{
    color: #4ee209;
 }
 #second_h1{
    color: #c909e2;
 }
 .nur_h1{
   font-style: italic;
   background: #111001;
   width: 800px;
   text-align: center;
   border-radius:50px;
   cursor: pointer;


 }
 
      


 